<!doctype html>
<html ng-app="tvApp">
<head>
  <meta charset="utf-8">
  <title>Campus TV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css css/main.css -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bower_components/angular-modal/modal.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body class="grid">
  <header>
    <div class="logo"><p class="color-blue">Campus<span>TV</span></p></div>
    <div class="search"><i class="fa fa-search"></i><input type="search" placeholder="search" name="search"></div>
    <div class="login btn-blue" ng-hide="user.name" ng-controller="loginCtrl"><a href ng-click="login()">Login</a></div>
    <div class="login btn-green" ng-show="user.name" ng-controller="loginCtrl"><a href ng-click="login()">{{user.name}}</a></div>
  </header>
  <div class="grid-body">
    <aside class="label-black sidebar">
      <div class="decor-top">
        <div class="label-green"></div>
        <div class="label-blue"></div>
        <div class="label-blue light"></div>
      </div>
      <div class="center-text"><a href="#" class="btn btn-blue center">Novo Conteúdo</a></div>
      <div class="list">
        <h3>Listas</h3>
        <ul>
          <li><a class="selected" href="">Ver mais tarde</a></li>
          <li><a href="">Favoritos</a></li>
        </ul>
        <h3>Categorias</h3>
        <ul>
          <li><a href="">Categoria 1</a></li>
          <li><a href="">Outra Categoria</a></li>
        </ul>
      </div>
    </aside>
    <main>
      <div ng-view></div>
    </main>
  </div>
  <!-- build:js js/vendor.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-modal/modal.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-oauth/src/js/angularOauth.js"></script>
  <script src="bower_components/angular-oauth/src/js/googleOauth.js"></script>
  <!-- endbuild -->
  <!-- build:js js/main.js -->
  <script src="js/app.js"></script>
  <!--SERVICES-->
  <script src="js/services/loginModal.js"></script>
  <!--CONTROLLERS-->
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/app.js"></script>
  <script src="js/controllers/video.js"></script>
  <!-- endbuild -->
</body>
</html>
