<p class="aviso" ng-show="enviado">Conteúdo Enviado <span ng-click="apagaOJP()"><i class="fa fa-times-circle"></i></span></p>

<h1 class="title">Inserir Conteúdos</h1>

<div>
  <form name="upload_form" ng-submit="upload(tabv)">

    <div class="tabs">
      <div class="tab" ng-class="{'tab-s': tabv}" ng-click="video()">Vídeo</div><!--
      --><div class="tab" ng-class="{'tab-s': !tabv}" ng-click="artigo()">Artigo</div>
    </div>

    <br>

      <div class="form" ng-show="tabv">
        <br>
        <div class="form-group">
          <label for="url">Link</label>
          <input type="url" name="url" ng-model="url" class="form-control" id="exurl">
        </div>
        <button class="btn btn-green small" type="submit">Enviar</button>
      </div>

      <div class="form" ng-hide="tabv">
        <br>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" name="titulo" ng-model="titulo"/>
        </div>
        <div class="form-group">
          <label for="conteudo">Conteúdo</label>
          <textarea name="conteudo" ng-model="conteudo"/></textarea>
        </div>
        <div class="form-group">
          <label for="url">Link</label>
          <input type="url" name="url" ng-model="url"/>
        </div>
        <button class="btn btn-green small" type="submit">Enviar</button>
      </div>
    </div>

  </form>
</div>
