body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: $color-black;
/*
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
*/
}

.fa {
  font-size: 1em;
  display: inline-block;
  margin-right: 10px;
  color: #aaa;
}

hr {
  border: 1px solid $color-white;
}

a {
  text-decoration: none;
  color: $color-purple;
  &:hover {
    color: darken($color-purple,10%);
  }
}

.big {
  font-size: 1.25em;
}

.fav {
  margin: 0 !important;
}

.share {
  display: inline-block;
  a {
    color: $color-blue;
    &:hover {
      color: darken($color-blue,10%);
    }
  }
}
