.label-green {
  background-color: $color-green;
}

.label-purple {
  background-color: $color-purple;
}

.label-blue {
  background-color: $color-blue;
}

.label-yellow {
  background-color: $color-yellow;
}

.label-red {
  background-color: $color-red;
}

.label-black {
  background-color: $color-black;
}

.label-white {
  background-color: $color-white;
}


.color-green {
  color: $color-green;
  fill: $color-green;
}

.color-purple {
  color: $color-purple;
  fill: $color-purple;
}

.color-blue {
  color: $color-blue;
  fill: $color-blue;
}

.color-yellow {
  color: $color-yellow;
  fill: $color-yellow;
}

.color-red {
  color: $color-red;
  fill: $color-red;
}

.color-black {
  color: $color-black;
  fill: $color-black;
}

.color-white {
  color: $color-white;
  fill: $color-white;
}
