.logo > p {
  font-family: $logo-font;
  text-align: center;
  line-height: $headheight;
  font-size: 2em;
  margin: 0;
  cursor: pointer;
  span {
    color: lighten( $color-blue, 15% );
  }
}

.login {
  border: none !important;
}

.login > a {
  padding: $headheight/2 40px;
  text-align: center;
  line-height: $headheight;
  text-decoration: none;
  color: $color-white;
}

.login > span {
  border: 1px solid white;
  cursor: pointer;
  color: $color-black;
  background-color: white;
  line-height: $headheight;
  padding: 20px 15px;
}

.search {
  padding-left: 2em;
  color: #aaa;
}

.search > input {
  box-sizing: border-box;
  font-size: 1.5em;
  height: $headheight - 2px;
  border: 0;
  outline: none;
}
