main {
  border-top: 2px solid $color-white;
  padding: 20px;
  overflow:auto;
}

.video.container {
  > div {
    display: inline-block;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  p {
    margin-bottom: 0;
  }
  > div > div {
    width: $sidewidth;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    box-sizing: content-box;
    vertical-align: top;
    img {
      max-width: $sidewidth;
      max-height: $sidewidth/1.5;
    }
  }
  > div > div.highlight {
    background-color: $color-yellow;
    &:hover {
      background-color: lighten($color-yellow,20%);
    }
  }
  > div > div:hover {
    background-color: $color-white;
  }
}
